.home-hero--input {
  padding: 4px 10px;
  outline: none;
  border: none;
  border: 1px solid $gray;
  @include md {
    padding: 4px 38px;
  }
  @include lg {
    margin-right: 15px;
  }
}
.oan-btn,
.home-hero--input {
  min-height: 35px;
  @include max-md {
    margin-top: 22px;
    width: 246px;
  }
  @include max-lg {
    text-align: center;
  }
}
input[type='text'] {
  @include lg {
    min-width: 380px !important;
  }
  text-align: center;
  transition: all 0.3s ease-in;
  &:focus {
    border-color: $yellow;
  }
}
.form--law-info {
  opacity: 0;
  font-size: 10px;
  margin-top: 30px;
  @include xl {
    max-width: 90%;
  }
  p {
    font-size: 10px !important;
  }
  a {
    color: $yellow;
    &:hover {
      opacity: 0.8;
    }
  }
  &__visible {
    opacity: 1;
  }
}
.input-errors {
  position: absolute;
  .error-msg {
    position: relative;
    font-size: 14px;
    color: $err;
  }
}

.newsletter-send__message-box {
  transition: all 0.3s ease-in-out;
}
